
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body 
  {

    font-family: Arial, sans-serif;
    background-color: #1b0404;
  }
  

 
  .form-group label 
  {
    color: white;
    font-weight: bold;
    margin-top: 0.25rem;
   
  }



  .btn01 
  {
    position: relative;
    overflow: hidden;
    color: #def7e7;
    border: 1px solid #e76caa;
    z-index: 1;
    transition: color 0.3s ease-in-out;
    font-family: Georgia;
    font-weight: bold;
    cursor: pointer;
  }

  
  .btn01::before 
  {
  
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Start completely off the button on the left */
    width: 100%;
    height: 100%;
    background:#e76caa;
    z-index: -1;
    transition: left 0.3s ease-in-out; /* Slide smoothly */
    cursor: pointer; /* Enable pointer cursor */
  }
  
  .btn01:hover::before 
  {
    left: 0; /* Slide in fully to cover the button */
    cursor: pointer;
  }
  
  .btn01:hover
   {
    color: white; /* Change text color to white */
    cursor: pointer;
  }


  
  
.card 
{
  width: 338px;
  /* height: 95%; */
    height:55vh;
    /* text-align:justify; */
    text-align: center;
    font-size: 16px;
  }

  .card-header
{
  background-color: #382c32;
  /* background-color: #f76caa; */
  color: white;
  text-align: center;
  padding: 10px;
  font-family: georgia;
  font-weight: bold;
  font-size: 18px;
}

   .card-header , .card-body
   {
    margin: 0;
    padding: 10px 15px;
   }
  



@media only screen and (max-width: 1024px) {
  .card {
    width: 100%;
    margin: 0 auto;
    height:30vh;
    /* height:95%; */
    padding:0;
    font-size:11px
  }
}


@media only screen and (max-width: 480px) 
{
  .card {
    width: 75%;
    margin: 0 auto;
    height: 70vh; /* Use viewport height for better responsiveness */
    padding: 0;
    font-size: 14px;
  }
}

 

@media only screen and (max-width:320px)
{

    .card{
        height: 66vh;
    }
  .card-header ,.card-body
  {
    font-size:12px;
    
  }
  .card-body
  {
    padding: 20px;
    text-align: justify;
   
  }
}
  
   



#loader
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}








  /* @media only screen and (max-width: 768px) {
    .main-form {
      width: 80%;
      margin: 0 auto;
    }

    .fa-solid {
      position: absolute;
      bottom: 24%;
      right: 8%;
      color: rgba(226, 5, 5, 0.973);
      font-size: 18px;
  
  }
  } */
  
  /* @media only screen and (max-width: 480px) {
  
    #userForm {
      width: 100%;
      margin: 0px auto;
    }
    .btn01 {
    margin-bottom: 50px;
  }

  .fa-solid {
    position: absolute;
    bottom: 24%;
    right: 6%;
    color: rgba(226, 5, 5, 0.973);
    font-size: 18px;

}
} */
